body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  background: linear-gradient(135deg, #7b4fa3, #3b2a7a);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  text-align: center;
  color: white;
  width: 300px;
}

input {
  width: 95%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-top: 15px;
  font-size: 16px;
  margin-right: 100%;
}

button {
  margin-top: 20px;
  padding: 12px;
  width: 95%;
  border: none;
  border-radius: 8px;
  background: #2bb3d6;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1e90b0;
}